:root {
  --subtitlefont: "Poppins", sans-serif;
  --bodyfont: "Playfair Display", serif;
  --box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  --basic-button-color: #2e5077;
  --themecolor1: #ffa630;
  --themecolor2: #d7e8ba;
  --themecolor3: #bddcdf;
  --themecolor4: #611c35;
}

body {
  background-color: rgb(255, 255, 255);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 60px;
}

h2 {
  font-family: var(--subtitlefont);
  font-weight: 500;
  font-size: 30px;
}

h3 {
  font-family: var(--subtitlefont);
  font-weight: 400;
  font-size: 18px;
}

h4 {
  font-weight: 800;
  font-size: 40px;
  font-family: "Playfair Display", serif;
}

p {
  font-family: var(--bodyfont);
  font-size: 16px;
  line-height: 2;
}

.hero {
  text-align: center;
  padding: 160px;
}

.hero-about {
  background-color: var(--themecolor1);
  padding: 100px;
}

.hero-contact {
  background-color: var(--themecolor2);
}

.hero-home {
  background-color: var(--themecolor3);
}

.contact-button {
  background-color: var(--basic-button-color);
  color: white;
  width: 120px;
  box-shadow: var(--box-shadow);
  line-height: 27px;
}

.about-button {
  border: 1px solid var(--basic-button-color);
  color: 2e5077;
  width: 120px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
}

.launch-button {
  background-color: var(--themecolor4);
  color: white;
  box-shadow: var(--box-shadow);
  line-height: 27px;
}

.project-description {
  padding: 20px;
}

.project-description small {
  font-family: "Poppins", sans-serif;
}

.projectimage-right {
  text-align: right;
}

.row {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .hero {
    padding: 80px 20px;
  }

  h1 {
    text-align: center;
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }
  .project-description {
    text-align: center;
  }
}

.navbar {
  font-family: var(--subtitlefont);
}

.about-section img {
  border-radius: 100%;
  margin: 0 auto;
  padding-top: 15px;
  display: block;
  width: 480px;
}

.about-section .col {
  text-align: center;
  padding: 20px;
}

.about-section .row {
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
}
