:root {
  --subtitlefont: "Poppins", sans-serif;
  --bodyfont: "Playfair Display", serif;
  --box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  --basic-button-color: #2e5077;
  --themecolor1: #ffa630;
  --themecolor2: #d7e8ba;
  --themecolor3: #bddcdf;
  --themecolor4: #611c35;
}

body {
  background-color: rgb(255, 255, 255);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 60px;
}

.content-section h1 {
  color: black;
  font-size: 40px;
  margin-bottom: 50px;
}

h2 {
  font-family: var(--subtitlefont);
  font-weight: 500;
  font-size: 30px;
}

.contact-box h2 {
  font-family: var(--bodyfont);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 1px;
}

h3 {
  font-family: var(--subtitlefont);
  font-weight: 400;
  font-size: 18px;
}

.content-section h3 {
  font-size: 23px;
  margin-bottom: 0;
  text-align: center;
}

.contact-box h3 {
  font-family: var(--bodyfont);
  font-size: 15px;
}

h4 {
  font-weight: 800;
  font-size: 40px;
  font-family: "Playfair Display", serif;
}

.contact-me-info h4 {
  font-size: 45px;
}

p {
  font-family: var(--bodyfont);
  font-size: 16px;
  line-height: 2;
}

.content-section p {
  margin-bottom: 1px;
  text-align: center;
}

.hero {
  text-align: center;
  padding: 160px;
}

.hero-about {
  background-color: var(--themecolor1);
  padding: 100px;
}

.hero-contact {
  background-color: var(--themecolor2);
}

.hero-home {
  background-color: var(--themecolor3);
}

.contact-button {
  background-color: var(--basic-button-color);
  color: white;
  width: 120px;
  box-shadow: var(--box-shadow);
  line-height: 27px;
}

.contact-me-info-button {
  background-color: var(--basic-button-color);
  color: white;
  padding: 15px;
  box-shadow: var(--box-shadow);
}

.about-button {
  border: 1px solid var(--basic-button-color);
  color: #2e5077;
  width: 120px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
}

.launch-button {
  background-color: var(--themecolor4);
  color: white;
  box-shadow: var(--box-shadow);
  line-height: 27px;
}

.content-section .mywork-button {
  background-color: var(--themecolor4);
  color: white;
  box-shadow: var(--box-shadow);
  line-height: 27px;
}

.project-description {
  padding: 20px;
}

.project-description small {
  font-family: "Poppins", sans-serif;
}

.projectimage-right {
  text-align: right;
}

.row {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .hero {
    padding: 80px 20px;
  }

  h1 {
    text-align: center;
    font-size: 45px;
  }

  .contact-box h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }
  .project-description {
    text-align: center;
  }
}

.navbar {
  font-family: var(--subtitlefont);
}

.content-section .col {
  text-align: center;
  padding: 20px;
}

.content-section {
  padding: 40px;
}

.contact-box {
  padding: 30px;
  background-color: white;
  border: 13px solid var(--themecolor3);
  box-shadow: var(--box-shadow);
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border-radius: 15px;
}
.contact-box a {
  color: black;
  text-decoration: underline;
}

.contact-box a:visited {
  color: black;
  text-decoration: none;
}

.contact-box a:hover {
  color: var(--basic-button-color);
  text-decoration: none;
}
footer {
  font-family: var(--subtitlefont);
  text-align: center;
  margin-top: 60px;
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:visited {
  text-decoration: none;
}

footer a:hover {
  color: var(--themecolor4);
}

footer .footer-social-links a {
  margin: 15px;
  color: white;
  background-color: #2e5077;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 100px;
}

footer .contact-me-info p {
  margin-bottom: 0px;
}

footer .contact-me-info {
  background-color: white;
  border: 13px solid var(--themecolor3);
  box-shadow: var(--box-shadow);
  padding: 50px 50px;
  border-radius: 15px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  align-items: center;
  text-align: start;
}

.contact-me-info a:hover {
  color: white;
  background-color: #203854;
}
